<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890038583906-sfoddjo2et4ttorloho4hsih4u5romqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890038583906-sfoddjo2et4ttorloho4hsih4u5romqq</string>
	<key>API_KEY</key>
	<string>AIzaSyDks160h5mmtJ7TQBBtI8m51fyN2P7Toa4</string>
	<key>GCM_SENDER_ID</key>
	<string>890038583906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lomenu</string>
	<key>PROJECT_ID</key>
	<string>lomenu-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>lomenu-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890038583906:ios:724a58ecfa99965b1e873b</string>
</dict>
</plist>